<!-- BEGIN PAGE HEADER-->
<style>
    .table.table-bordered thead>tr>th {
        position: sticky;
        top: 0;
    }

    .constrained {
        max-height: 600px !important;
        overflow: hidden;
        overflow-y: auto;
        /* padding: 0px 10px 0px 0px; */
        overflow-x: auto !important;
    }

    .countbarDisp {
        margin-bottom: 0.625rem;
        width: 100%;
    }

    .countbarBtn {
        float: right;
        box-sizing: border-box;
    }

    .refreshIcon {
        float: right;
        border: 0.063rem solid #fff;
        box-sizing: border-box;
        margin-left: 0.313rem;
    }

    .containerAlert {
        width: 100%;
        overflow: auto;
    }

    .noRecord {
        margin: 0;
        text-align: center;
    }

    .btnclrSearch {
        display: block;
        vertical-align: middle;
        float: right;
    }

    .selectedNone {
        float: left;
        width: 100%;
        height: 100%;
        padding: 0.25rem 0.625rem 0.313rem 0.625rem;
    }

    .searchByfont {
        margin: 0;
        font-size: 0.813rem;
        word-wrap: break-word;
    }
</style>
<div class="breadCrumb row" ng-controller="activeController">
    <div class="col-md-6">
        <ul class="page-breadcrumb">
            <!--<li>
                <i class="fa fa-home"></i>
                <a href="javascript:void(0);" translate ng-click="goToHome()">Sidebar.Home</a>
                <i class="fa fa-angle-right"></i>
            </li>-->
            <li>
                <i class="fa fa-file-text-o"></i>
                <a href="javascript:void(0);" translate>Sidebar.Reports</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="javascript:void(0);" ng-click="gotoShowAlert()" translate>Sidebar.ACHReports</a>
                <!-- <i class="fa fa-angle-right"></i> -->
            </li>
        </ul>
    </div>
    <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
    </div>
</div>

<div class="col-12 container px-4 pt-2 mb-5">
    <div class="animated bounce autoAdjustAlert bold" ng-repeat="alert in alerts"
        ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}"
        ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a> {{alert.msg}}
    </div>

    <div>
        <div class="pageTitle alertWidthonResize">
            <div class="row">
                <div class="col-sm-12 ng-binding" style="color: rgb(65, 85, 195);">
                    <div class="title__container">
                        <h2 translate>Sidebar.ACHReports</h2>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="tobeFixed mb-2">
                <div class="row m-0">
                    <div class="countbar-title row m-0 countbarDisp">
                        <div class="col-md-8 col-sm-4 col-xs-4 ng-binding caption">
                            <span class="highlight">{{(achReports.length >= 0 && totalReportCount >= 0) ?
                                achReports.length + ('ACHReports.Outof' | translate ) + totalReportCount :
                                (achReports.length >= 0 && !totalReportCount) ? achReports.length :
                                ''}}&nbsp;</span>{{(achReports.length >= 0 && totalReportCount >= 0) ||
                            (achReports.length >= 0 && !totalReportCount) ? 'ACHReports.RecordsShown' :
                            (!achReports.length && !totalReportCount) ? 'ACHReports.FetchingData' : '0 out of 0' |
                            translate}}
                        </div>

                        <div class="col-md-4 col-sm-8 col-xs-8 p-0">
                            <div class="btn-group countbarBtn">
                                <button class="btn-trans gridBtn" id="btn_2"
                                    ng-class="!changeViewFlag ? 'disabledBtnColor' : 'cmmonBtnColors'"
                                    ng-click="changeViewFlag = !changeViewFlag" data-toggle-second="tooltip"
                                    data-placement="top" data-original-title="{{'ToolTips.GridView' | translate}}">
                                    <i class="fa fa-table fa-fs14"></i></button>
                            </div>

                            <div class="btn-group refreshIcon" data-toggle-second="tooltip" data-placement="top"
                                data-original-title="{{'ToolTips.Refresh' |translate}}">
                                <button class="btn-trans" ng-click="refresh()"><i
                                        class="fa fa-refresh fa-fs14"></i></button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="countbar-title row ml-0 mr-1">
                <input style="float:right;" type="text" class="form-control"
                    placeholder="{{'ToolTips.QuickSearch' | translate}}" ng-model="quickSearch" />
                <div class="clearfix"></div>
            </div>

            <div class="alert alert-info containerAlert" ng-if="searchValue">
                <div class="selectedNone mb-2">
                    <span>
                        <p class="bold" class="searchByfont" translate>ACHReports.FilteredSearchParameters</p>
                    </span>

                    <span class="searchByfont">
                        <span class="searchValContainer">
                            <b>
                                <span>
                                    {{'ACHReports.ReportId'| translate}}
                                </span>
                            </b>
                            <span>&nbsp;&nbsp; - &nbsp;&nbsp;{{searchValue | cleanItem}}</span>
                            <!-- <span class="bold closeIcon cursorPointer" ng-click="spliceSearchArr(key)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span> -->
                        </span>
                    </span>
                </div>

                <div class="clearfix">
                    <button type="button" id="searchBtn" class="btnSuccess btnStyle btn-sm btnclrSearch float-right"
                        ng-click="clearSearch()">{{'ACHReports.Clear' | translate}}</button>
                </div>
            </div>

            <div class="alert alert-warning mt-2" ng-if="achReports.length === 0">
                <strong>
                    <h5 class="noRecord text-center"><i class="fa fa-warning"></i>
                        {{'ACHReports.NoRecordsFound'|translate}}</h5>
                </strong>
            </div>

            <div class="constrained" ng-if="achReports.length !== 0">
                <table class="table table-bordered floatThead stickyheader" infinite-scroll='loadMore()'
                    infinite-scroll-container='".constrained"' infinite-scroll-immediate-check="false"
                    infinite-scroll-parent="true">
                    <thead>
                        <tr>
                            <th>{{'ACHReports.ReportID'|translate}}</th>
                            <th>{{'ACHReports.ReportName'|translate}}</th>
                            <th>{{'ACHReports.ReportType'|translate}}</th>
                            <th>{{'ACHReports.GeneratedDate'|translate}}</th>
                            <th>{{'ACHReports.Status'|translate}}</th>
                            <th>{{'ACHReports.FileName'|translate}}</th>
                            <th>{{'ACHReports.Download'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="achReport in achReports | filter:quickSearch track by $index">
                            <td scope="row">{{achReport.reportId}}</td>
                            <td>{{achReport.reportName}}</td>
                            <td class="text-center">{{achReport.reportType}}</td>
                            <td>{{achReport.generatedDate}}</td>
                            <td class="text-center">{{achReport.status}}</td>
                            <td>{{achReport.fileName}}</td>
                            <td class="text-center">
                                <button class="btn-trans downloadBtn" type="button"
                                    ng-click="downloadFile(achReport.reportId, achReport.reportType)"
                                    ng-style="{'opacity':(achReport.status == 'ACTIVE')?'1':'0.5'}"
                                    ng-disabled="statusChecker(achReport.status)">
                                    <i class="fa fa-download fa-1x" aria-hidden="true"
                                        ng-style="{'opacity': (achReport.status == 'ACTIVE' ? '1' : '0.5')}">
                                    </i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style='clear: both;'></div>
                <div class="alert alert-info mt-2" role="alert" ng-show='isLoading'>
                    <strong>
                        <h5 class="noRecord text-center">
                            <i class="fa fa-info mr-2"></i>
                            <span>{{'ACHReports.LoadingData'|translate}}</span>
                        </h5>
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

    })
</script>