<footer class="fixedfooter newfooter" style="font-size:10px">
    <div class="pull-right clockCls" style="margin-right: 225px;">
        <span class="footertext1">{{'ToolTips.Version' | translate}}: {{VersionInfo}}</span>
        <span id="spaceid"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        <span id="clock" class="clock custmclock" style="color: #98a6ba !important;"></span>
    </div>
    <div>
        <span class="footertext2">{{year}} &copy; VolPay, Volante Technologies, Inc
        </span>
        <span class="footertext2"> | ACH Colombia Transv. 23 No. 97-73 Piso 3 Bogotá Tels. (1)593 8300 / (1)743 8300 || Somos Vigilados por la Superintendencia Financiera de Colombia.
        </span>
    </div>
</footer>