<style>
    .bootstrap-datetimepicker-widget {
        display: block;
    }
    
    .bootstrap-datetimepicker-widget .datepicker-days {
        display: block;
    }
    
    .bootstrap-datetimepicker-widgekt .datepicker-months {
        display: block;
    }
    
    .bootstrap-datetimepicker-widget .datepicker-years {
        display: block;
    }
    
    .bootstrap-datetimepicker-widget .datepicker-decades {
        display: block;
    }
    
    .input-group-addon {
        padding: 0px 5px;
    }
    
    .glyphicon {
        padding: 9px 10px;
    }
    
    .addAdditionalFields {
        /*color: #333;*/
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        padding: 10px;
    }
    
    .addBorder {
        border: 1px solid #ddd;
        padding: 10px;
    }
    
    .close {
        opacity: 1;
    }
    
    .DatePicker,
    .TimePicker {
        z-index: 0 !important
    }

</style>

<div class="breadCrumb" ng-controller="activeController">
    <div class="row">
        <div class="col-md-6 ">
            <ul class="page-breadcrumb">

                <li>
                    <i class="fa fa-user"></i>
                    <a href="javascript:void(0)" translate class="removeCursor">Sidebar.securityAdminPanel</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#/app/securityroles" translate>Sidebar.RoleManagement</a>
                    <i class="fa fa-angle-right"></i>
                  
                </li>
                <li>
                    <span class="removeCursor">{{ (roleEditDetails)?  'securityRolesPermissions.EditRole' : 'BtnGroup.AddNew' | translate }}</span>
                </li>

            </ul>
        </div>

        <div class="col-md-6 headerVals">
            <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>

        </div>
    </div>

</div>

<div class="contentContainer">


    <div class="pageTitle tab-content alertWidthonResize">
        <div class="row">
            <div class="col-sm-5">
                <div class="title__container">
                    <h2 translate> {{(roleEditDetails)? 'securityRolesPermissions.EditRole': 'BtnGroup.AddNew' }}</h2>

                </div>
            </div>
        </div>
    </div>

    <div ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" class="autoAdjustAlert bold animated bounce" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}" ng-repeat="alert in alerts">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a> {{alert.msg | replaceASCII}}
    </div>
   
    <!--Alert Pop-up Window-->
    <div class="modal fade" id="changesLostModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" style="width: 600px;">
            <div class="modal-content" style="border:2px solid #243250a6;">
                <div class="modal-body">
                    <h5 translate>BankDataDts.PopupMsg</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btnSuccess btnStyle" ng-click="gotoClickedPage();" translate>BankDataDts.Yes</button>
                    <button type="button" class="btnDefault btnStyle" data-dismiss="modal" ng-click="cancelChanges()" translate>BankDataDts.No</button>

                </div>
            </div>

            <div class="modal-content" style="border:2px solid #243250a6;" ng-if="madechanges">
                <div class="modal-body">
                    <h4 style="font-size:17px;">Primary key fields are missing.UUID will be autogenerated.<br>Do you wish to continue?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btnStyle clr" ng-click="SaveAsModalDraft()"><span translate>
							Yes</span></button>

                    <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="cancelChanges()">No</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="draftOverWriteModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" style="border:2px solid #243250a6;" ng-if="!updateEntity">
                <div class="modal-body">
                    <h4>Draft Already Exists. Do you want to Overwrite?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btnStyle" ng-click="forceSaveDraft();">Yes</button>
                    <button type="button" class="btn btnStyle" data-dismiss="modal">No</button>

                </div>
            </div>
            <div class="modal-content" style="border:2px solid #243250a6;" ng-if="updateEntity">
                <div class="modal-body">
                    <h4>This will update the actual entity. Do you wish to continue?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btnStyle" ng-click="addRoleandForseSaveRole(method,takerolebckup);">Yes</button>
                    <button type="button" class="btn btnStyle" data-dismiss="modal" ng-click="resetAllDrafts()">No</button>

                </div>
            </div>
        </div>
    </div>




    <form name="RolesForm" class="form-horizontal" ng-submit="addRolesdata(roleDetails)">

        <div class="row">
            <div class="col-md-12">
                <div class="card" style="background: #ffffff; margin-bottom: 21px;">
                    <div class="card-title" style="border-bottom: 1px solid #d6dee4; padding: 15px;background-color: #cad5eb;">
                        <label class="bold" translate>securityRolesPermissions.Role Details</label>
                    </div>
                    <div class="card-body" style="padding: 27px;">
                        <div class="form-group row">


                            <div class="col-md-12 row">
                                <div class="form-group col-md-4 col-sm-4 row" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="col-md-4">{{'securityRolesPermissions.Client Id' | translate}}<span
                                        style="color:#e02222;font-size:12px;padding-right: 15px;"
                                        aria-required="true">*</span></label>
                                    <div class="col-md-8" ng-if="partyOptions.RoleType != false && !edit">
                                        <select class="form-control" name="PartyCode" id="PartyCode" ng-model="roleDetails.PartyCode" ng-disabled="true" ng-change="selectRole(roleDetails.PartyCode)" ng-class="{true : 'error'}[submitted && RolesForm.PartyCode.$invalid]" required autocomplete="off" data-width="100%">
                                                <option ng-init="roleDetails.PartyCode = 'CLEACH'"
                                                ng-repeat="operator in partyOptions.PartyCode" value="{{operator.Value}}">
                                                {{operator.Name}}
                                                </option>
                                            </select>

                                    </div>
                          
                                    <div class="col-md-8" ng-if="partyOptions.RoleType != false && edit">

                                        <input type="text" class="form-control" name="PartyCode" id="PartyCode" ng-init="roleDetails.PartyCode = roleDetails.PartyCode" ng-model="roleDetails.PartyCode" autocomplete="off" disabled>
                                    </div>
                                    <div class="col-md-8" ng-if="partyOptions.RoleType == false">

                                        <input type="text" class="form-control" name="PartyCode" id="PartyCode" ng-init="roleDetails.PartyCode = partyOptions.PartyCode[0]['Value']" ng-model="roleDetails.PartyCode" autocomplete="off" disabled>
                                    </div>

                                </div>
                                <div class="form-group col-md-4 col-sm-4 row" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="col-md-4">{{'securityRolesPermissions.Role Name' | translate}}<span
                                        style="color:#e02222;font-size:12px;padding-right: 15px;"
                                        aria-required="true">*</span></label>
                                    <div class="col-md-8" ng-if="!edit">
                                        <input type="text" autocomplete="off" name="roleDetails.rolename" class="form-control" id="rolename" placeholder="{{('Placeholder.PleaseEnter' | translate) + ('securityRolesPermissions.Role Name' | translate)}}" ng-model="roleDetails.RoleName" required>
                                    </div>
                                    <div class="col-md-8" ng-if="edit">
                                        <input type="text" autocomplete="off" name="roleDetails.rolename" class="form-control" id="rolename" ng-model="roleDetails.RoleName" disabled required>
                                    </div>
                                    <span class="help-inline col-md-1" ng-show="submitted && RolesForm.PartyCode.$error.required" style="display:block;margin:0;color:#EF1C1C !important;padding: 8px;right: 15px;" translate>AddUsers.Required</span>
                                </div>
                                <div class="form-group col-md-4 col-sm-4 row" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="col-md-4">{{'securityRolesPermissions.Status' | translate}}<span
                                        style="color:#e02222;font-size:12px;padding-right: 15px;"
                                        aria-required="true">*</span></label>
                                    <div class="col-md-8">
                                        <select class="form-control" required name="Status" ng-model="roleDetails.Status" ng-class="{true : 'error'}[submitted && RolesForm.Status.$invalid]" data-width="100%">
                                                <option value="" translate>Placeholder.Select</option>
                                                <option value="ACTIVE">ACTIVE</option>
                                                <option value="INACTIVE">INACTIVE</option>
                                                <option value="SUSPENDED">SUSPENDED</option>
                                            </select>
                                        <span class="help-inline col-md-1" ng-show="submitted && RolesForm.Status.$error.required" style="display:block;margin:0;color:#EF1C1C !important; padding: 8px;right: 15px;" translate>AddUsers.Required</span>

                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12 row">

                                <div class="form-group col-md-4 col-sm-4 row" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="col-md-4">{{'securityRolesPermissions.Effective From Date' | translate}}<span
                                            style="color:#e02222;font-size:12px;padding-right: 15px;"
                                            aria-required="true">*</span></label>
                                    <div class="col-md-8">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control DatePicker dateTypeKey" roledateattr="EffectiveFromDate" name="EffectiveFromDate" placeholder="{{('Placeholder.PleaseEnter' | translate) + ('securityRolesPermissions.Effective From Date' | translate)}}" onpaste="return false" onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)"
                                                id="EffectiveFromDate" ng-model="roleDetails.EffectiveFromDate" ng-required="true" autocomplete="off" ng-class="{true : 'error'}[submitted && RolesForm.EffectiveFromDate.$invalid]" />

                                            <span class="input-group-text" style="cursor:pointer" ng-click="triggerPicker($event)"><span
                                                    class="fa fa-calendar date-set"></span>
                                            </span>

                                        </div>
                                        <span class="help-inline col-md-1" ng-show="submitted && RolesForm.EffectiveFromDate.$error.required" style="display:block;margin:0;color:#EF1C1C !important;padding: 8px; right: 15px;" translate>AddUsers.Required</span>
                                    </div>

                                </div>
                                <div class="form-group col-md-4 col-sm-4 row" style="margin-top:10px;margin-bottom:34px;">
                                    <label class="col-md-4 ">{{'securityRolesPermissions.Effective Till Date' | translate}}</label>

                                    <div class="col-md-8">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control DatePicker dateTypeKey" name="EffectiveTillDate" roledateattr="EffectiveTillDate" placeholder="{{('Placeholder.PleaseEnter' | translate) + ('securityRolesPermissions.Effective Till Date' | translate)}}" onpaste="return false" onkeypress='return tabOrder(event)' ng-blur="multipleEmptySpace($event)"
                                                id="EffectiveTillDate" autocomplete="off" ng-model="roleDetails.EffectiveTillDate" />
                                            <span class="input-group-text" style="cursor:pointer" ng-click="triggerPicker($event)"><span
                                                    class="fa fa-calendar date-set"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-md-8">

                <div class="card" style="background: #ffffff; margin-bottom: 21px;" ng-repeat="(key,value) in roles track by $index">

                    <div ng-repeat="(key1,value1) in value track by $index">

                        <div class="card-title" style="border-bottom: 1px solid #d6dee4; padding: 15px;background-color: #cad5eb">
                            <div class="form-check form-check-inline" style="width: 100%;">

                                <label class="bold col" translate>{{(key1 == 'Administration' || key1 == 'BankData'?'securityRolesPermissions.':'Sidebar.')+(key1 | camelCaseFormatter | removeSpace)}}</label>

                                <label class="bold float-right"><span translate>securityRolesPermissions.Select All</span>&nbsp&nbsp
                                    <input class="form-check-input" ng-model="roleDetails[key1]['valSelect']"
                                        name="key1" ng-click="selectallCheck(key1, $index,key,value1,roleDetails[key1]['valSelect'])" type="checkbox"
                                        id="Title_{{key}}">
                                </label>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 27px;">
                            <div class="form-check form-check-inline row" ng-if="!(v.subfields == 'Delegate')" style="display: flex;">
                               <div class="col-md-6" ng-repeat="(k,v) in value1 track by $index" style="padding: 20px;">
                                <label class="form-check-label checkbox-inline">
                                    <input class="form-check-input  checkedBoxes allChecks_{{key}}" name="v.FieldName"
                                        ng-click="selectSubFields(key, k, v,value1)" type="checkbox"
                                        ng-model="roleDetails[key1][v.FieldName]" value="checkbox_{{key}}"
                                        ng-checked="{{roleDetails[key1][v.FieldName]}}" id="subfields_{{k}}">
                                        {{'securityRolesPermissions.' + (v.subfields | removeSpace) | translate}}
                                </label>
                            </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        -->
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <button type="Button" data-toggle="modal" data-target="#changesLostModal" class="btnDeny btnStyle" translate>
                    BtnGroup.Cancel</button>
                    <button type="Submit" class="btnSuccess btnStyle" translate> BtnGroup.Save</button>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('.DatePicker').datepicker({
            format: "YYYY-MM-DD",
            useCurrent: false,
            showClear: true

        })
        setTimeout(function() {
            $('.input-group-text').on('click focus', function(e) {

                $(this).prev().focus().click()
            });
        }, 1000)
    })
</script>
