<style>
  .asterisk {
    color: #e02222;
    font-size: 0.75rem;
    padding-left: 0.125rem
  }

  .cursorPoint {
    cursor: pointer
  }

  .ui-datepicker {
    z-index: 99 !important;
  }

  .bootstrap-datetimepicker-widget {
    display: block;
  }

  .bootstrap-datetimepicker-widget .datepicker-days {
    display: block;
  }

  .rolesPanel .card-header {
    background: #cad5eb;
    color: #1d2e50;
  }

  .datepicker>div {
    display: block;
  }

  /* .TextboxADF{
      background-color: #0070C0;
      border-color: aliceblue;
      border-radius: 1rem !important;
      color: black;
      padding: .5rem;
      margin: 1rem;
      width: 10rem;
      text-align: center; 
  } */

  .inputData {
    border: 1px solid hsla(0, 0, 0, 0.3)
  }

  .formClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .processingDate-header {
    color: black;
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid rgba(0, 0, 0, .125);
    margin-right: -1px;
    margin-left: -1px;
    text-align: center;
    align-items: center;
  }

  .consolidatedBSHeader {
    text-align: center;
    align-items: center;
    color: black;
    width: 50%;
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid rgba(0, 0, 0, .125);
  }

  .TableCTBS {
    width: 50%;
  }

  .divForm {
    margin-bottom: 1rem;
  }

  .TitleprocessingDateClass {
    display: inline !important;
    text-align: left;
    font-size: 1rem;
  }

  .TitleConsolidatedByState {
    display: inline !important;
    font-size: 1rem;
  }

  .formStateTableDetail {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 1rem;
  }

  .labelData {
    text-align: center;
    /* border: .2rem solid;
      border-radius: .5rem !important;
      border-color: #0070C0 !important; */
    padding: .5rem .5rem;
    margin-left: .5rem;
    white-space: nowrap;
  }

  .inputStateDetail {
    align-items: flex-start;
  }

  .selectStateDetail {
    display: block;
    /* height:50px; */
    width: 300px;
  }

  .consultFirst {
    padding-top: 1rem;
  }

  .detailsRowStateValue {
    background-color: #7BC0E4;
    font-weight: bold;
    text-align: center;
  }

  .code-exapanded {
    color: var(--code-default);
    position: relative;
  }

  .download, .copy {
    opacity: 0.4;
  }

  .download:hover,
  .copy:hover,
  .download:focus,
  .copy:focus {
    opacity: 1;
  }

  .visually-hidden {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }

  .constrained {
    max-height: 600px !important;
    overflow: hidden;
    overflow-y: auto;
    /* padding: 0px 10px 0px 0px; */
    overflow-x: auto !important;
  }

  .countbarDisp {
    margin-bottom: 0.625rem;
    width: 100%;
  }

  .countbarBtn {
    float: right;
    box-sizing: border-box;
  }

  .refreshIcon {
    float: right;
    border: 0.063rem solid #fff;
    box-sizing: border-box;
    margin-left: 0.313rem;
  }

  .containerAlert {
    width: 100%;
    overflow: auto;
  }

  .noRecord {
    margin: 0;
    text-align: center;
  }

  .position-top-align {
    position: absolute;
    top: 0rem;
    right: 0rem;
  }

  .btn-ach {
    color: #fff!important;
    background-color: #065ea6 !important;
    border: none;
  }

  .btn-ach-custom-color {
    color: #fff;
    background-color: #065ea6;
    border-color: #065ea6;
  }
  
  .bootstrap-datetimepicker-widget.dropdown-menu, .custimepicker {
    z-index: 1 !important;
  }
</style>
<!-- Header -->
<!-- This comment is intentionally added for this file to be visualized as a change in git -->
<div class="page-bar breadCrumb" ng-controller="activeController">
  <div class="row">
    <div class="col-md-6 ">
      <ul class="page-breadcrumb">
        <li>
          <i class="fa fa-file-o"></i>
          <a href="javascript:void(0);" translate class="removeCursor">Sidebar.PSE</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li class="cursorPointer">
          <span class="removeCursor" translate>Sidebar.QueryRejectedMessages</span>
        </li>
      </ul>
    </div>

    <div class="col-md-6 headerVals">
      <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
    </div>
  </div>
</div>
<!-- Header End-->

<div>
  <div class="contentContainer mb-2">

    <!-- Notification -->
    <div class="animated bounce autoAdjustAlert bold"
      ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}"
      ng-repeat="alert in alerts" ng-if="alert.msg != 'Payment not found'">
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a> {{alert.msg | replaceASCII}}
    </div>
    <!-- Notification End-->

    <div class="pageTitle alertWidthonResize">
      <div class="row">
        <div class="col-sm-12">
          <div class="title__container">
            <h2 translate>QueryRejectedMessages.PageTitle</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="divForm card">
        <div class="card rolesPanel mb-3">
          <div class="card-header">
            <span class="bold" translate>QueryRejectedMessages.TitleConsult</span>
          </div>
          <div class="card-body">
            <!-- class="formClass consultFirst" -->
            <div class="mb-5">
              <form class="form-inline d-flex justify-content-center align-items-center" id="QueryRejectedMessages" role="form" name="QueryRejectedMessages">
                <div class="form-group align-items-center col-auto my-1">
                  <label class="control-label" for="dateQueryRejectedMsg">
                    <span>{{'QueryRejectedMessages.Date' | translate}}</span>
                    <sup class="alertMsg" style="color:#e02222;font-size:12px;padding-left:2px" aria-required="true">*</sup>
                  </label>
                  <div class="input-group input-append mx-3" id="inlineFormCustomSelect">
                    <input class="form-control custimepicker" type="text" name="dateQueryRejectedMsg" id="dateQueryRejectedMsg"
                      ng-model="date" autocomplete="off" ng-required="true" custimepicker='{"type": "DateOnly"}' ng-change="searchByDate()" ng-focus="activatePicker($event)"
                      ng-disabled="false" onpaste="return false" maxdate="true">
                    <span class="input-group-text cursorPointer">
                      <span class="fa fa-calendar"></span>
                    </span>
                  </div>
                </div>
              </form>
            </div>

            <!-- processingDate -->
            <div id="processingDate" class="processingDateClass">
              <div class="tobeFixed mb-2" ng-if="QueryRejectedMsgData.length !== 0">
                <div class="row m-0">
                    <div class="countbar-title row m-0 countbarDisp">
                        <div class="col-md-8 col-sm-4 col-xs-4 ng-binding caption">
                            <span class="highlight">{{(QueryRejectedMsgData.length >= 0 && totalQueryCount >= 0) ?
                                QueryRejectedMsgData.length + ('QueryRejectedMessages.Outof' | translate ) + totalQueryCount :
                                (QueryRejectedMsgData.length >= 0 && !totalQueryCount) ? QueryRejectedMsgData.length : ''}}&nbsp;</span>{{(QueryRejectedMsgData.length >= 0 && totalQueryCount >= 0) ||
                                (QueryRejectedMsgData.length >= 0 && !totalQueryCount) ? 'QueryRejectedMessages.RecordsShown' :
                                (!QueryRejectedMsgData.length && !totalQueryCount) ? 'QueryRejectedMessages.FetchingData' : '0 out of 0' | translate}}
                        </div>
                        <div class="col-md-4 col-sm-8 col-xs-8 p-0">
                            <div class="btn-group countbarBtn">
                                <button class="btn-trans gridBtn" id="btn_2" ng-class="!changeViewFlag ? 'disabledBtnColor' : 'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" data-toggle-second="tooltip" data-placement="top" data-original-title="{{'ToolTips.GridView' | translate}}"><i class="fa fa-table fa-fs14"></i></button>
                            </div>
                            <div class="btn-group refreshIcon">
                                <button class="btn-trans" ng-click="refresh()" custom-tooltip data-toggle="tooltip" data-original-title="{{'QueryRejectedMessages.Refresh' | translate}}"><i class="fa fa-refresh fa-fs14"></i></button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="countbar-title row ml-0 mr-1" ng-show="QueryRejectedMsgData.length !== 0">
                <input style="float:right;" type="text" class="form-control" placeholder="{{'QueryRejectedMessages.QuickSearch' | translate}}" ng-model="quickSearch" ng-focus="expandSelected(null)" />
                <div class="clearfix"></div>
            </div>

            <div class="alert alert-warning mt-2" ng-if="QueryRejectedMsgData.length === 0">
                <strong>
                    <h5 class="noRecord text-center">
                        <i class="fa fa-warning"></i>
                        <span>{{'QueryRejectedMessages.NoRecordsFound' | translate}}</span>
                    </h5>
                </strong>
            </div>

              <!-- Table consolidated by processing date-->
              <div id="consolidatedTableByProcessingDate" class="table-responsive my-custom-scrollbar constrained" ng-if="QueryRejectedMsgData.length !== 0">
                <table id="QueryRejectedMsgByDate" class="table table-bordered m-0 text-center" infinite-scroll='loadMore()' infinite-scroll-container='".constrained"' infinite-scroll-immediate-check="false" infinite-scroll-parent="true">
                  <thead>
                    <tr>
                      <th style="width: 30px;"></th>
                      <th id="TableCTBPDValue" class="bold" ng-repeat="val in QueryRejectedMsg" ng-if="val.visible" translate>{{val.label}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat-start="datos in QueryRejectedMsgData | filter: quickSearch track by $index;" ng-init="rowindex = $index"
                      data-toggle="collapse" data-target="#demo{{rowindex}}"
                      ng-click="datos.expanded ? datos.expanded = false : expandSelected(datos)">
                      <td>
                        <span class="cursorPointer"><i ng-class="{'fa fa-plus-square': !datos.expanded, 'fa fa-minus-square': datos.expanded}" ng-style="{'color':'#017bb9'}"></i></span>
                      </td>
                      <td>{{datos.cusId}}</td>
                      <td>{{datos.rejectionreason}}</td>
                      <td>{{datos.requestDate  | date:'yyyy-MM-ddTHH:mm:ss'}}</td>
                    </tr>
                    <tr ng-repeat-end="" ng-if="datos.expanded" ng-attr-id="{{'demo'+ $index}}"
                      class="collapse cell-1 row-child text-left" ng-style="{'background-color':'#F2F2F2'}">
                      <td colspan="5">
                        <div class="code-exapanded">
                          <pre ng-attr-id="{{'pre'+ $index}}">{{getParseValue(datos.message) | json}}</pre>
                          <div class="btn-group position-top-align" role="group" aria-label="Received Message">
                            <button type="button" class="btn btn-ach btn-ach-custom-color copy" ngclipboard data-clipboard-target="{{'#pre'+ $index}}" ngclipboard-success="onSuccess(e, '#pre'+ $index, datos.message);" custom-tooltip data-toggle="tooltip" data-title="{{'QueryRejectedMessages.CopyToClipboard' | translate}}"><i class="fa fa-clipboard fa-1x" aria-hidden="true"></i><span class="visually-hidden">Copy to Clipboard</span></button>
                            <button type="button" class="btn btn-ach btn-ach-custom-color download" ng-click="downloadRejectedMsg('pre'+ $index, datos.message)" custom-tooltip data-toggle="tooltip" data-title="{{'QueryRejectedMessages.ClickToDownload' | translate}}"><i class="fa fa-download fa-1x" aria-hidden="true"></i><span class="visually-hidden">Click to Download</span></button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Table consolidated by processing date End-->
            </div>
            <!-- processingDate End-->
          </div>
        </div>
        <!-- Form End -->
      </div>
    </div>

  </div>
</div>
<script>
  $(document).ready(function () {
      $('.input-group-text').on('click focus', function (e) {
          $(this).prev().focus().click()
      });
  });
</script>