<style>
    .bootstrap-datetimepicker-widget {
        display: block;
        background: #9E9E9E;
        color: #000
    }
    
    .bootstrap-datetimepicker-widget:hover {
        background: #9E9E9E;
    }
    
    .bootstrap-datetimepicker-widget .datepicker-days {
        display: block;
    }
    
    .bootstrap-datetimepicker-widget .datepicker-months {
        display: block;
    }
    
    .bootstrap-datetimepicker-widget .datepicker-years {
        display: block;
    }
    
    .bootstrap-datetimepicker-widget .datepicker-decades {
        display: block;
    }
    
    .bootstrap-datetimepicker-widget .datepicker-days,
    .datepicker-months,
    .datepicker-years:hover {
        background: #9E9E9E;
    }
    
    #keywordSearchbtn:focus,
    #keywordSearchbtn:active {
        outline: none;
    }
    
    #searchBox:focus,
    #searchBox:active {
        box-shadow: none;
    }
    
    .select2-container {
        width: 90% !important;
        height: 1.75rem;
    }
    
    #Filter .select2-container {
        width: 100% !important;
    }
    
    #Filter .select2-container .select2-selection--single {
        height: 2.125rem;
    }
    
    .nonbtndisable {
        cursor: not-allowed !important;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
        pointer-events: none;
    }

    .cardAlighn{
        margin-left: 1rem;
        margin-top: 0.625rem;
        /* margin-bottom: 1.25rem; */
        
    }
    
    .column {
      float: left;
      width: 25%;
      padding: 0 0.625rem;
    }

    @media screen and (max-width: 768px) {
      .column {
       width: 100%;
       display: block;
       margin-bottom: 1.25rem;
      }
    }

     .width100{
        width: 100%;
     }

     .clearBoth{
        clear:both
     }

     .btnviewAlighn{
        float:right;
        box-sizing: border-box;
     }

     .btnList{
        border: 0.063rem solid #fff;
        box-sizing: border-box;
        border-right:0rem;
        margin-left:0.313rem
     }

     .btnGrid{
        border: 0.063rem solid #fff;
        box-sizing: border-box;
        border-left:0rem
     }

     .btnDownload{
        border: 0.063rem solid #fff;
        box-sizing: border-box;
     }

    
     .downloadUl{
        z-index: 10000; 
        right: 1.313rem;
     }

     .iconExcel{
        margin-left:2.5rem !important;
     }

     .iconFilter{
        border: 0.063rem solid #fff;
        box-sizing: border-box;
        margin-left: 0.313rem;
     }

     .filterUl{
        min-width: 37.5rem;
        padding:0.625rem 0rem;
     }

     .filterAlighn{
        padding: 0.5rem 0.875rem 0.125rem 0.875rem;
        margin: 0;
     }

     .filterDisp{
        padding: 0.5rem 0rem 0.125rem 0.875rem;
        margin: 0;
        display: inline-block;
        width: 50%;
        float: left;
     }

     .cursorPointer{
        cursor:pointer
     }

     .filterinpGrp{
        padding: 0.5rem 0.875rem 0.125rem 0rem;
        margin: 0;
        display: inline-block;
        width: 50%;
     }

     .filterCstmdrp{
        display:inline-block;
        color:#000;
        cursor: pointer;
        position: relative;
        box-sizing: border-box; 
        width: 90%;
     }

     .filterKeyword{
        color: #000;
     }

     .filterSearch{
        cursor:pointer;
        float: left;
        width: 10%;
        height: 100%;
        padding: 0.563rem;
     }

     .filterBy{
        padding: 0.5rem 0.625rem 0.125rem 0.625rem;
     }

     .backTransperent{
        background-color: transparent;
     }

     .filterValue{
        padding: 0rem 0.313rem;
        float: left;
     }

     .filterdispValue{
        display: inline-block;
        font-size: 0.625rem;
        width: auto;
        text-align: left;
        line-height: 0.625rem;
        padding: 0.125rem;
     }

     .filterCustompicker{
        padding: 0.625rem 20rem 0rem 0rem;
     }

     .filterRadiobtn{
        float: left;
        padding: 0rem 0.313rem;
     }

     .filtercstmDates{
        padding: 0rem 0rem 0rem 1.25rem; 
        width: 46%; 
        float: left;
     }

     .filterCalander{
        border: 0.063rem solid #eee;
        height: 2.188rem;
     }

     .filtertimes{
        margin-right: 0.625rem;
     }

     .btnSort{
        border: 0.063rem solid #fff;
        box-sizing: border-box;
        margin-left: 0.625rem;
     }

     .sortUl{
        min-width: 18.75rem;
        padding:0.625rem 0rem;
     }

     .sortBy{
        float: right; 
        cursor: pointer; 
        color: #9e9e9e; 
        font-weight: bolder;
     }

     .sortDatagrps{
        padding: 0rem 0.938rem;
        margin:0;
        width:100%;
        float: left;
        max-height: 18.75rem;
        overflow: auto;
     }

     .sortDisp{
        color:#fff;
        display: table;
        width: 100%;
        margin-bottom: 0.125rem;
     }

     .sortBody{
        margin-bottom: 0.125rem;
        display: table-row;
        width: 100%;
     }

     .sortLabel{
        display: table-cell;
        background: #9e9e9e;
        padding: 0.313rem 0.5rem;
        border-right: 0.063rem solid #fff;
        width: 90%;
     }

     .sortminus{
        display: table-cell;
        background: #9e9e9e;
        padding: 0.375rem;
        text-align: center;
        vertical-align: middle;
        width: 10%;
     }

     .iconminus{
        color:#2b3643 !important
     }

     .btnRefresh{
        float:right;
        border: 0.063rem solid #fff;
        box-sizing: border-box;
        margin-left:0.625rem;
     }

     .noRecord{
        margin:0;
        text-align:center;
     }

     .viewAlighn{
        position:relative;
        margin:0;
        overflow:visible;
     }

     .tableAlighn{
        max-height: 37.5rem; 
        padding:0rem 0.625rem 0rem 0rem; 
        overflow-x: auto !important; 
        width: 100%;
     }

     .tableheight{
        height:2.375rem;
     }

     .iconCircle{
        font-size: 1.25rem;
        line-height:1.25rem
     }

     .carddataGrp{
        min-height:10.625rem;
        max-height:10.625rem;
     }

     .cardwrapper{
        padding:0.313rem 0.938rem;
        position: relative;
        padding-right: 1.563rem;
     }

     .cardLabel{
        font-size: 1.188rem; 
        word-break: break-all;
     }

     .cardStatus{
        margin:0;
        padding:0.313rem;
        text-align: center;
        float:left;
        width:15%;
     }

     .cardBody{
        padding:0.313rem 0.938rem
     }

     .cardValue{
        margin:0;
        padding: 0rem 0rem 0rem 0rem;
        word-wrap: break-word;
        float: left;
     }

    .cardFields{
        margin:0;
        padding: 0rem 0rem 0rem 0.125rem;
        word-wrap: break-word;
        float: left;
    }

    .filterTo{
        border:none; 
        background-color:transparent; 
        width: 6%; 
        float: left; 
        padding: 0.625rem;
    }
</style>
<!-- BEGIN PAGE HEADER-->
<div class="breadCrumb row" ng-controller="activeController">
    <div class="col-md-6">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-laptop"></i>
                <a href="javascript:void(0)" translate class="removeCursor"> Sidebar.SystemMonitoring</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li translate>
                Sidebar.ScheduledRouteLogAudit
            </li>
        </ul>
    </div>
    <div class="col-md-6 headerVals">
        <div data-ng-include="'templates/header/VPheader.html'" data-ng-controller="headerCtrl"></div>
    </div>
</div>


<div class="contentContainer mb-2">
    <div class="pageTitle alertWidthonResize">
        <div class="row">
            <div class="col-sm-12">
                <div class="title__container">
                    <h2 translate>ScheduledRouteLogAuditDet.PageTitle</h2>
                    <p translate>ScheduledRouteLogAuditDet.SubTitle</p>
                </div>
            </div>
        </div>
    </div>

    <div class="animated bounce autoAdjustAlert bold" ng-style="{'top':alertStyle+'px','width':alertWidth+'px'}" ng-repeat="alert in alerts" ng-class="{'alert alert-success': alert.type == 'success','alert alert-danger':alert.type == 'danger'}">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a> {{alert.msg}}
    </div>

    <div class="row m-0">
        <div class="countbar-title row m-0 width100">
            <div class="col-md-3 col-sm-3 col-xs-4  ng-binding p-0">
                <div class="caption">
                    <span class="highlight">{{(restVal.length >= 0 &&  totalForCountBar >= 0) ? restVal.length +  ('BankDataDts.Outof' | translate ) + totalForCountBar : (restVal.length && !totalForCountBar) ? restVal.length : '' }}</span>&nbsp;{{(restVal.length >= 0 && totalForCountBar
                    >= 0) || (restVal.length && !totalForCountBar) ?'BankDataDts.recordsshown' : (!restVal.length && !totalForCountBar) ? 'BankDataDts.FetchingData' : '' | translate}}
                </div>
            </div>



            <div class="col-md-9 col-sm-9 col-xs-8">
                <div class="btn-group btnviewAlighn">
                    <button class="btn-trans btnList" id="btn_1" ng-class="changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" data-toggle-second="tooltip" data-placement="top" data-original-title="{{'ToolTips.ListView' | translate}}"><i class="fa fa-list fa-fs14"></i></button>
                    <button class="btn-trans btnGrid" id="btn_2" ng-class="!changeViewFlag?'disabledBtnColor':'cmmonBtnColors'" ng-click="changeViewFlag = !changeViewFlag" data-toggle-second="tooltip" data-placement="top" data-original-title="{{'ToolTips.GridView' | translate}}"><i class="fa fa-table fa-fs14"></i></button>
                </div>
                <div class="dwnBtn float-right" ng-if="configData.exportAsExcel.enable">

                    <!-- <button style="border: 1px solid #fff;box-sizing: border-box;" class="btn-trans dropdown-toggle" type="button" data-toggle="dropdown" ng-click="setHeight($event)" aria-expanded="true" tooltip="{{'Export'}}"> <i class="fa fa-download" aria-hidden="true"></i></button> -->

                    <button class="btn-trans btnDownload" type="button" data-toggle="{{(restVal.length)?'dropdown':''}}" data-toggle-second="tooltip" data-placement="top" data-original-title="{{(restVal.length)?'ToolTips.Export':'ToolTips.Norecordstoexport' | translate}}" ng-style="{'opacity':(restVal.length)?'1':'0.5'}"> <i class="fa fa-download" aria-hidden="true"></i></button>
                    <ul class="download-window dropdown-menu dropdown-menu-excel float-right dropdown-menu-right downloadUl">
                        <li>
                            <span><input type="radio" name="excelVal" value="Current" checked class="radiobtns">{{'BankDataDts.CurrentScreen' | translate}} </span>
                            <span ng-if="configData.exportAsExcel.enable && !configData.exportAsExcel.disableAllFiltersMatching"><input type="radio" name="excelVal" value="All" class="radiobtns" style="word-break: break-all;text-align: initial;">{{'BankDataDts.AllMatchingFilter' | translate}}</span>
                        </li>
                        <li  data-toggle-second="tooltip" data-placement="top" data-original-title="{{'BankDataDts.Excel' | translate}}"  class="excelprint iconExcel" ng-click="exportAsExcel($event)">
                            <i class="fa fa-file-excel-o fa-fs14" aria-hidden="true"></i>
                        </li>
                        <li data-toggle="tooltip" data-placement="top" data-original-title="{{'BankDataDts.Print' | translate}}" class="excelprint" ng-click="printFn()">
                            <i class="fa fa-print fa-fs14" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>

                <div id="Filter" class="dropdown customDropdown float-right">
                    <button class="btn-trans iconFilter" type="button" data-toggle="dropdown" data-toggle-second="tooltip" data-placement="top" data-original-title="{{'ToolTips.Filter' | translate}}">
						<i class="fa fa-filter fa-fs14"></i>
					</button>

                    <ul class="dropdown-menu dropdown-menu-default float-right xyz dropdown-menu-right filterUl">
                        <form ng-submit="searchFilter(filterParams)" ng-init="parsed = filterParams.SearchSelect">
                            <li id="Filter" class="dropdown-header filterAlighn">{{'BankDataDts.ApplyFilter' | translate}}:</li>
                            <div id="Filter" class="row input-group parent filterDisp">
                                <select id="SearchSelect" name="SearchSelect" class="form-control cursorPointer" ng-model="filterParams.SearchSelect">
									<option value="">Select</option>
									<option ng-repeat="(key, value) in fields" value="{{key}}" ng-if="value.type == 'string'" translate>{{value.label}}</option>
								</select>
                            </div>
                            <div id="Filter" class="row input-group filterinpGrp">
                                <span class="cstmDrop filterCstmdrp">
									<input name="keywordSearch" type="text" class="form-control ng-pristine ng-untouched ng-valid filterKeyword" ng-model="filterParams.keywordSearch" placeholder="{{filterParams.SearchSelect ? 'Search '+ (filterParams.SearchSelect | camelCaseFormatter): 'BankDataDts.KeywordSearch' | translate}}" ng-required="showCustom || filterParams.keywordSearch || filterParams.Status.length ? false : true">
								</span>
                                <span class="input-group-addon filterSearch" ng-click="searchFilter(filterParams)" ng-class="filterParams.keywordSearch ? '' : 'nonbtndisable'"><i class="fa fa-search"></i></span>
                            </div>
                            <div ng-repeat="y in fields" ng-if="status = (y.label === 'Status') ? y.value : ''">
                                <li id="Filter" class="dropdown-header">FILTER BY {{y.label | uppercase }}</li>
                                <div id="Filter" class="filterBy">
                                    <button type="button" class="filterBystatus" ng-repeat="x in status" ng-click="setStatusvalue(x.displayvalue,filterParams)" id="{{x.displayvalue}}" ng-class="x.TotalCount == 0 ? 'nonbtndisable' : ''">
										<div class="clearfix backTransperent" ng-if="$index % 2 == 0"></div>
										<div class="clearBoth" ng-if="$index % 2 == 0"></div>
										<div class="filterValue">
											<span class="fa-wrapper">
											<i class="fa fa-circle" ng-style="{'color':(x.displayvalue | chooseStatus)}"></i></span>
											<span class="filterdispValue"> {{x.displayvalue  +' ('+x.TotalCount+') '}}</span>
										</div>
										<div class="clearBoth"></div>
									</button>
                                    <div class="clearBoth"></div>
                                </div>
                            </div>
                            <div class="clearBoth"></div>
                            <li id="Filter" class="dropdown-header">FILTER BY DATE</li>
                            <div id="Filter" class="filterBy">
                                <button type="button" class="filterBydate" ng-repeat="x in filterBydate" ng-click="setEffectivedate(x,filterParams)" id="{{x.displayvalue|removeSpace}}">
									<div class="clearfix backTransperent" ng-if="$index % 2 == 0"></div>
									<div class="clearBoth" ng-if="$index % 2 == 0"></div>
									<div class="filterValue">
										<span class="filterdispValue" translate> {{x.displayvalue}}</span>
										<i class="fa fa-calendar"></i>
									</div>
								</button>
                                <div class="clearBoth"></div>
                                <div id="customPicker" class="row fade-in-up filterCustompicker" ng-show="showCustom">

                                    <div class="col-md-12">
                                        <div class="filterRadiobtn">
                                            <label>
												<input type="radio" ng-model="filterParams.StartedOn.Date" value="StartedOn">
												Started On
											</label>
                                            <label>
												<input type="radio" ng-model="filterParams.StartedOn.Date" value="CompletedOn">
												Completed On
											</label>
                                        </div>
                                    </div>
                                    <div class="input-group-prepend date width100" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">
                                        <div class="input-group col-md-12 filtercstmDates">
                                            <input type="text" class="form-control DatePicker" ng-model="filterParams.startDate" id="startDate" name="startDate"   placeholder="{{'BankDataDts.From' | translate}}" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
                                            <span class="input-group-text filterCalander" ng-click="focusInfn('startDate')"><span class="fa fa-calendar"></span></span>
                                        </div>
                                        <span class="input-group-addon filterTo">{{'BankDataDts.To' | translate}}</span>
                                        <div class="input-group col-md-12" style="width: 46%">
                                            <input type="text" class="form-control DatePicker" ng-model="filterParams.endDate" id="endDate"  placeholder="{{'BankDataDts.To' | translate}}" ng-blur="removeFn()" onkeypress="return tabOrder(event)" onpaste="return false" ng-required="showCustom">
                                            <span class="input-group-text filterCalander" ng-click="focusInfn('endDate')"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearBoth"></div>
                            <div class="row input-group float-right justify-content-end filterAlighn">
                                <button type="Button" class="btn-trans btnStyle filtertimes" data-toggle-second="tooltip" data-placement="top"  data-original-title="{{'BtnGroup.Cancel' | translate}}" ng-click="clearFilter()"><i class="fa fa-times"></i></button>
                                <button type="Submit" class="btn-trans btnStyle cursorPointer" data-toggle-second="tooltip" data-placement="top" data-original-title="{{'BtnGroup.Search'| translate}}" ng-class="(filterParams.StartedOn.displayvalue == 'Custom' ? filterParams.startDate && filterParams.endDate && showCustom : showCustom)|| filterParams.keywordSearch || filterParams.Status.length ? 'cmmonBtnColors' : 'disabledBtnColor'">
									<i class="fa fa-search"></i>
								</button>
                            </div>
                        </form>
                    </ul>
                </div>
                <!-- Sorting begins -->
                <div id="sortBy" ng-show="changeViewFlag" class="dropdown customDropdown float-right">
                    <button class="btn-trans btnSort" type="button" data-toggle="dropdown" data-toggle-second="tooltip" data-placement="top" data-original-title="{{'ToolTips.Sort' | translate}}" ng-click="setHeight($event)">
						<i class="fa fa-sort-amount-desc fa-fs14"></i>
					</button>

                    <ul class="dropdown-menu dropdown-menu-default float-right dropdown-menu-right sortUl">
                        <form ng-submit="searchFilter(filterParams)">
                            <li id="sortBy" class="dropdown-header">{{'BankDataDts.SortBy' | translate}}<i> ({{'BankDataDts.ClicktoSort' | translate}}) </i> <i class="sortBy" ng-click="clearSort('#sort')"><u>{{'BankDataDts.ResetAll' | translate}}</u></i></li>
                            <div id="sort" class="dataGroups sortDatagrps">
                                <div ng-repeat="x in sortMenu" class="sortDisp">
                                    <div ng-if="x.label != 'Rule'" id="sort_{{$index}}" class="sortBody">
                                        <span class="sortLabel">{{x.label}}</span>
                                        <a tooltip-placement="top" class="sortminus" ng-click="gotoSorting(x)"><i id="{{x.FieldName}}_icon" class='fa fa-minus fa-sm iconminus'></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ul>
                </div>
                <!-- Sorting Ends -->
                <div class="btn-group btnRefresh">
                    <button class="btn-trans" ng-click="loadData()" data-toggle-second="tooltip" data-placement="top"  data-original-title="{{'ToolTips.Refresh' |translate}}"><i class="fa fa-refresh fa-fs14"></i></button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="alert alert-warning mt-2" ng-show="!restVal.length">
        <strong><h5 class="noRecord" translate>BankDataDts.NoRecordsFound</h5></strong>
    </div>

    <div id="DummyExportContent" ng-show="false">
        <table class="table table-bordered smallTable" id="sample_2">
            <thead>
                <tr>
                    <th ng-repeat="val in sortMenu">{{val.label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="routeLogval in restVal">
                    <td ng-repeat="val in sortMenu" ng-if="routeLogval[val.FieldName]">{{routeLogval[val.FieldName]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="">
        <div class="viewAlighn">
            <div class="col-md-12 pr-0 pl-0 mt-2">

                <div class="listView FixHead dataGroupsScroll tableAlighn" ng-show="!changeViewFlag">
                    <table class="table table-bordered smallTable floatThead stickyheader" id="sample_2" ng-if="restVal.length">
                        <thead>
                            <tr>
                                <th ng-repeat="val in sortMenu" ng-click="gotoSorting(val,$index,$event)" class="cursorPointer" ng-if="val.visible" class="tableheight">
                                    {{val.label}}<span id="{{val.FieldName}}_Icon" class=""></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id={ { 'displayingWindow_'+$index}} class="displayWindow collapse show " ng-repeat="values in restVal" ng-class="{oddClas:($index%2)== 1}">
                                <td ng-repeat="val in sortMenu" ng-if="val.visible" class="tableheight" ng-style="(val.label == 'Status')?{'text-align':'center'}:''">
                                    <span ng-if="val.label !== 'Status'"> {{values[val.FieldName]}} </span>
                                    <span ng-if="val.label === 'Status'" ng-style="{'color':(values['Status'] | chooseStatus)}"><i class="fa fa-circle iconCircle" data-toggle-second="tooltip" data-placement="bottom" title="{{values['Status']}}"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>

           
            

            <div ng-show="changeViewFlag" class="listView width100">
                <div class="row mr-0" id="accordion">
                    <!-- ng-repeat="routeLogval in restVal" -->
                    <div class="column pl-0" ng-repeat="routeLogval in restVal" ng-init="colIndexx = $index">
                        <div class="clearfix backTransperent" ng-if="$index % 4 == 0"> </div>
                        <div class="clearBoth" ng-if="$index%4 == 0"></div>
                        <div class="card cardAlighn paneltrans">
                            <div class="card-header listViewPanelHeading pb-0" id="listViewPanelHeading_{{$index}}">
                                <div class="row dataGroups carddataGrp" id="dataGroup_{{$index}}">
                                    <div class="col-md-12 cardwrapper">
                                        <div class="panel-wrapper-inside">
                                            <div class="ruleHead pull-left cardLabel" ng-style="{'color':( routeLogval['Status'] | chooseStatus)}">
                                                {{routeLogval['Processor']}}
                                            </div>
                                            <!-- ng-repeat="val in sortMenu" ng-if="val.label == 'Status'" -->
                                            <div class="float-right" ng-repeat="val in sortMenu" ng-if="val.label == 'Status'">
                                                <div class="cardStatus" data-toggle-second="tooltip" data-placement="bottom" title="{{routeLogval['Status']}}"  ng-style="{'color':( routeLogval['Status'] | chooseStatus)}">
                                                    <i class="fa fa-circle iconCircle" ng-if="routeLogval['Status']"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 d-flex pl-1 cardBody" ng-repeat="val in sortMenu" ng-if="val.visible && val.label != 'Status' && val.label != 'Processor' ">
                                        <div class="bold col-md-3 cardValue">{{val.label}} </div>
                                        <span class="bold col-md-1"> : </span>
                                        <div class="listViewValue col-md-7 cardFields">{{routeLogval[val.FieldName]}}</div>
                                    </div>
                                    <div class="clearBoth"></div>
                                </div>
                                <div class="clearBoth"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearBoth"></div>
                </div>
                <div class="clearBoth"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $('[data-toggle="tooltip"]').tooltip();
    var isIE = /*@cc_on!@*/ false || !!document.documentMode;

    setTimeout(function() {
                $('[data-toggle-second=tooltip]').tooltip({ trigger: "hover" });
            }, 1000)

    if (isIE) {
        var _placeholder;
        $('input[name=keywordSearch]').mouseenter(function(e) {
            _placeholder = $(this).attr('placeholder');
            $(this).attr('placeholder', '')
        }).mouseleave(function() {
            $(this).attr('placeholder', _placeholder)
        })
    }
    $('.input-group-addon').on('click focus', function(e) {
        $(this).prev().focus().click()
    });
</script>